/******** GLOBAL STYLES ********/
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
	color: #000000;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

html{
	font-size: 16px;
}

/* The width property has been changed to max-width */
.content-wrapper {
	max-width: 1200px;
	width: 90%;
	overflow: auto;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 0.75em;
}

p {
	line-height: 2.25em;
}

/******** HEADER STYLES ********/
/* The widths are in a percentage! */
header {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	width: 100%;
}

header h1 {
	width: 100%;
	padding: 38px 0;
	text-align: center;
	border-bottom: 5px solid #45610E;
}

header h1 span {
	color: #45610E;
}

header nav {
	padding-top: 0;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

header nav ul {
	padding: 0;
}

header nav ul li {
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color: #45610E;
}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/
/* The widths are in a percentage! */

.main-image img {
	width: 100%;
	border-top: 3px solid #77A466;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	color: #45610E;
	padding: 5px 0;
}

/******** BOTTOM SECTION ********/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
}

.bottom-section .content-wrapper {
	width: 90%;
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
}

.section-one,
.section-two,
.section-three {
	box-sizing: border-box;
	padding: 0 40px;
}

.section-one {
	/*width: 29%;*/
	width: 100%;
	text-align: left;
}

.section-two {
	/*width: 42%;*/
	width: 100%;
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
	text-align: left;
}

.section-three {
	width: 100%;
	text-align: left;
	/*width: 29%;*/
}

.menu-list {
	padding-left: 0;
	list-style: none;
}

.menu-list li {
	color: #4f6d13;
	font-weight: 500;
	font-size: 1em;
	line-height: 2.25em;
	font-family: 'Montserrat', sans-serif;
}

/******** FOOTER STYLES ********/
/* The widths are in a percentage! */
footer {
	text-align: center;
	margin-top: 8px;
	display: flex;
	justify-content: center;
	width: 100%;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #45610E;
	font-size: 0.875em;
}

@media all and (min-width: 768px) {
    /* Tablet styles here */
	.bottom-section .content-wrapper {
		width: 90%;
		border-top: 5px solid #EEE;
		border-bottom: 5px solid #EEE;
		display: flex;
		flex-flow: row nowrap;
		justify-content: left;
	}
	.section-one {
		width: 29%;
		padding-left: 15px;
	}
	
	.section-two {
		width: 42%;
		border-top: none;
		border-bottom: none;
		border-left: 5px solid #EEE;
		border-right: 5px solid #EEE;
		padding: 0 30px;
	}
	
	.section-three {
		width: 29%;
		padding-left: 15px;
	}
}
 
@media all and (min-width: 1200px) {
    /* Desktop styles here */
	body {
		font-family: 'Montserrat', Helvetica, Arial, sans-serif;
		font-size: 1rem;
		color: #000000;
	}

	header .content-wrapper {
		width: 100%;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		align-content: center;
	}

	.top-section,
	.bottom-section {
		display: flex;
		justify-content: center;
	}

	.top-section .content-wrapper {
		width: 100%;
		max-width: 1200px;
		}

	.bottom-section .content-wrapper {
		width: 100%;
		max-width: 1200px;
		border-top: 5px solid #EEE;
		border-bottom: 5px solid #EEE;
	}
	
	header h1 {
		width: 70%;
		padding: 38px 0;
		text-align: left;
		border-bottom: none;
	}

	header nav {
		padding-bottom: 0;
		width: 29%;
		display: flex;
		align-items: center;
	}

	header nav ul{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-content: center;
	}
}